/* --------------------------------------------------------------------
 * ## mobile devices 
 * -------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .row .row {
        padding-left: 0;
        padding-right: 0;
    }

    .mob-1 {
        flex: none;
        width: 8.33333%;
    }

    .mob-2 {
        flex: none;
        width: 16.66667%;
    }

    .mob-3 {
        flex: none;
        width: 25%;
    }

    .mob-4 {
        flex: none;
        width: 33.33333%;
    }

    .mob-5 {
        flex: none;
        width: 41.66667%;
    }

    .mob-6 {
        flex: none;
        width: 50%;
    }

    .mob-7 {
        flex: none;
        width: 58.33333%;
    }

    .mob-8 {
        flex: none;
        width: 66.66667%;
    }

    .mob-9 {
        flex: none;
        width: 75%;
    }

    .mob-10 {
        flex: none;
        width: 83.33333%;
    }

    .mob-11 {
        flex: none;
        width: 91.66667%;
    }

    .mob-12 {
        flex: none;
        width: 100%;
    }

    .block-mob-one-eight>.column {
        flex: none;
        width: 12.5%;
    }

    .block-mob-one-sixth>.column {
        flex: none;
        width: 16.66667%;
    }

    .block-mob-one-fifth>.column {
        flex: none;
        width: 20%;
    }

    .block-mob-one-fourth>.column {
        flex: none;
        width: 25%;
    }

    .block-mob-one-third>.column {
        flex: none;
        width: 33.33333%;
    }

    .block-mob-one-half>.column {
        flex: none;
        width: 50%;
    }

    .block-mob-whole>.column {
        flex: none;
        width: 100%;
    }

    .hide-on-mob {
        display: none;
    }
}